<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}<%= app %>{% endblock %}</title>

        {% block stylesheets %}
            <!-- head:css -->
            <!-- endinject -->
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block javascripts_top %}
            <!-- head:js -->
            <!-- endinject -->
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        {% block javascripts_bottom %}
            <!-- foot:js -->
            <!-- endinject -->
        {% endblock %}
    </body>
</html>
